<div id = "page-content">
  <div class = "container">
    <%= render 'shared/alert_success' %>
    <h1 class = "text-center pt-4">Listing all Courses</h1>
    <br>
    <% @courses.each do |course| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded box-shadow-card">
            <div class="card-header font-italic rails-link admin-text">
              By <%= course.user.first_name %><span>  [Admin]<span>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to course.name ,course ,class: "text-success rails-link" %></h5>
                  <%= link_to 'View' , course , class: "btn btn-outline-primary" %>
                  <% if current_user.has_role? :admin %>
                    <%= link_to 'Edit' , edit_course_path(course) , class: " btn btn-outline-success" %>
                    <%= link_to 'Delete' , course ,method: :delete, data: { confirm: 'Are you sure?' } , class: " btn btn-outline-danger" %>
                  <% end %>
                </div>
                <div class="card-footer text-muted">
                  <small> Created <%= time_ago_in_words(course.created_at)%> ,
                    Edited  <%= time_ago_in_words(course.updated_at)%> ,
                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp&nbsp&nbsp<%= course.impressionist_count(filter: :ip_address) %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
